.container{
    margin-bottom: 50px;

}
.carousel{
background-color: #FEEAE9;
}
.carousel-item{
    padding: 20px 30px;
}
.buy-button{
    background-color: #FF589B;
    padding: 10px 20px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
}
.pink-bg{
    color: #f8136f;
    font: 41px
    ;
}
.cat1, .cat2, .cat3{  
    padding: 20px 30px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.cat1{
    background-color: #FF9C35;
}
.cat2{
    background-color: #FF589B;

}
.cat3{
    background-color: #4289FF;
}
.catagory img{
    width: 100px;
}
.catagory h1{
    color: #FFFFFF;

}
.card{
    border: none;
    border-radius: 5px 5px 10px #707070 ;
}
.card-body{
    text-align: center;
}
.card-body p{
    color: #707070;
    font-size: 16px;
}
.card-body h1{
    color: #1f1f1f;
    font-weight: 500;
    font-size: 24px;
}
#card-shadow{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
}

.seeAll{
    text-decoration: none;
    color:#FF589B;
    font-size: smaller;
}
.card-footer{
    width: 100%;
}
#contact{
    background-color: #FEEAE9;
    padding: 50px 100px;
}
#contact h2{
    text-align: center;
    
}
#contact p{
    color: lightgrey;
    font-size: smaller;
}
footer p{
    color: lightgrey;
    font-size: smaller;
    text-align: center;
}